<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script>
<style>
    .modal {
        width: 650px;
        height: 650px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -320px;
        margin-top: -200px;
    }
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
</style>

</head>
<body>
<center> <img style="padding-top:5px" src="http://static1.squarespace.com/static/54d90fe2e4b0a1728dab4782/t/54f5e107e4b0625e8c514983/1447185712861/?format=1500w"/> </center>

<div class="modal fade" id="loginModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">

        <form>
            <div class="form-group">
                <input type="text" class="form-control input" id="username" placeholder="Username">
            </div>

            <div class="form-group">
                <input type="password" class="form-control input" id="password" placeholder="Password">
            </div>

            <div class="form-group">
                <input type="text" class="form-control input " id="ipAddress" placeholder="IP Address">
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="login">Login</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="settingsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">

        <form>
            <div class="form-group">
                <input type="text" class="form-control input" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input" id="description" placeholder="Description">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveSettings">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="jumbotron vertical-center" style="background-color:#ffffff" id="videoVLC"> <!--
                      ^--- Added class  -->
  <div class="container">
      <div class="row">
          <div class="col-md-8">


        <div id="cctv-container">
            <h3 id="cameraTitle">Title</h3>
            <img src="" id="mjpeg_stream" alt="image">
        </div>
      </div>
      <div class="col-md-4">
          <button id="cameraUp" type="button" style="margin-left:44px; margin-bottom:4px" class="btn btn-default" aria-label="Up">
              <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </button>
          </br>
          <button id="cameraLeft" type="button" class="btn btn-default" aria-label="Up">
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default" aria-label="Up">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </button>
          <button id="cameraRight" type="button" class="btn btn-default" aria-label="Up">
              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
          </br>
          <button id="cameraDown" type="button" style="margin-left:44px; margin-top:4px" class="btn btn-default" aria-label="Up">
              <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          </button>
          </br>
          </br>

          <label>Description:</label>
          <div id="cameraDescription">Pointing at I-20 North</div>

          <label>Direction:</label>
          <div id="cameraDirection">Pointing at I-20 North</div>

          </br>
          <button type="button" style="margin-left:88px; " class="btn btn-default" aria-label="Up" id="settingsButton">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </button>

      </div>
  </div>
</div>
  </div>
</div>


<script type="text/javascript">
    $(window).load(function(){
        $('#loginModal').modal('show');
        $("#videoVLC").hide()

    });
    $(".input").on("input", function(){
        $(this).parent().removeClass("has-error")
    })
    $("#cameraRight").on("click", function(){
        $.ajax({
            url: 'http://' + $("#ipAddress").val() + ':5000/step_right',
            data: {
                'username': $("#username").val(),
                'password': $("#password").val(),
            },
            dataType: 'json',
            success:function(data) {

            },

        })
    })
    $("#cameraLeft").on("click", function(){
        $.ajax({
            url: 'http://' + $("#ipAddress").val() + ':5000/step_left',
            data: {
                'username': $("#username").val(),
                'password': $("#password").val(),
            },
            dataType: 'json',
            success:function(data) {

            },

        })
    })
    $("#cameraUp").on("click", function(){
        $.ajax({
            url: 'http://' + $("#ipAddress").val() + ':5000/step_forward',
            data: {
                'username': $("#username").val(),
                'password': $("#password").val(),
            },
            dataType: 'json',
            success:function(data) {

            },

        })
    })
    $("#cameraDown").on("click", function(){
        $.ajax({
            url: 'http://' + $("#ipAddress").val() + ':5000/step_backwards',
            data: {
                'username': $("#username").val(),
                'password': $("#password").val(),
            },
            dataType: 'json',
            success:function(data) {

            },

        })
    })




    $("#saveSettings").on("click", function(){
        $.ajax({
            url: 'http://' + $("#ipAddress").val() + ':5000/save_settings',
            data: {
                'username': $("#username").val(),
                'password': $("#password").val(),
                'title': $("#title").val(),
                'description': $("#description").val()
            },
            dataType: 'json',
            success:function(data) {
                if (data != "") {
                    $("#cameraTitle").text(data["title"])
                    $("#cameraDescription").text(data["description"])
                    $("#settingsModal").modal('hide');

                }
            },

        })
    })
    $("#settingsButton").on("click", function(){
        $.ajax({
            url: 'http://' + $("#ipAddress").val() + ':5000/get_title_description',
            data: {
                'username': $("#username").val(),
                'password': $("#password").val(),
            },
            dataType: 'json',
            success:function(data) {
                if (data != "") {
                    $("#title").val(data["title"])
                    $("#description").val(data["description"])
                }
            },

        })
        $("#settingsModal").modal('show');
    })
    $("#login").on("click", function(){
            $.ajax({
            url: 'http://' + $("#ipAddress").val() + ':5000/validate_login_camera_url',
            data: {
                'username': $("#username").val(),
                'password': $("#password").val()
            },
            dataType: 'json',
            success:function(data) {
                if (data != "") {
                    $('#loginModal').modal('hide');
                    $("#cameraDescription").text(data["description"]);
                    $("#cameraTitle").text(data["title"]);
                    $("#mjpeg_stream").attr("src", "http://" + $("#ipAddress").val() + ":8080/stream/video.mjpeg")

                    $("#videoVLC").show()
                }
                else
                {
                    $("#username").parent().addClass("has-error")
                    $("#password").parent().addClass("has-error")

                }

            },
            error: function(){
                $("#ipAddress").parent().addClass("has-error")
            }
        })
    })

</script>

</body>
</html>
