<html>
<head>
    <script src="/static/js/jquery.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
</head>

<body style="background: #3B3B3B;">
    <nav style="background: #1D718C; border:0px" class="navbar navbar-default">
    </nav>

    <div class="row">
        <div class="col-md-offset-4 col-md-3 col-sm-offset-4 col-sm-4">
            <form>
                <div  class="form-group">
                    <input style="border-radius:5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px" type="ip" class="form-control" id="cameraIp" placeholder="Camera IP Address">
                    <input style="border-radius:5px; border-radius:0px" type="username" class="form-control" id="username" placeholder="Username">
                    <input style="border-radius:5px; border-top-left-radius: 0px; border-top-right-radius: 0px" type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </form>
        </div>
    </div>

</body>

<script type="text/javascript">
</script>
</html>